/* 読み込み画面 */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #00c3ff;
    animation: bounce 0.7s ease-in-out infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0) scale(1.2, 0.8);
    }

    15%, 85% {
        transform: translateY(0) scale(1, 1);
    }

    30%, 70% {
        transform: translateY(-40px);
    }

    40%, 60% {
        transform: translateY(-46px);
    }

    50% {
        transform: translateY(-50px);
        /* ボールが上に40pxバウンド */
    }
}

/* 全体的なレイアウト */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* Chromeウィンドウのスタイル */
.chrome-window {
    width: 80%;
    height: 100%;
    margin: 10%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(216, 216, 216);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(0);
    opacity: 0;
    transition: transform 0.5s ease-in-out;
}

.chrome-window.show {
    transform: scale(1);
    opacity: 1;
}

/* ヘッダー部分 */
.chrome-header {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f1f1f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow-x: scroll;

}

/* タブのスタイル */
.tabs {
    padding-left: 100px;
    display: flex;
    gap: 10px;
}

/* タブボタンのスタイル */
.tab-button {
    width: 100px;
    padding: 10px;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.tab-button.active {
    background-color: #ddd;
    font-weight: bold;
}

.tab-button:hover {
    background-color: #e0e0e0;
}

/* Chromeボタン（閉じる、最小化、最大化）のスタイル */
.chrome-buttons {
    display: flex;
    gap: 5px;
    padding: 18px;
    padding-left: 20px;
    position: fixed;
    background-color: #f1f1f1;
    border-top-left-radius: 5px;
}

.chrome-btn {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
}

.chrome-btn.close {
    background-color: #e44c4c;
}

.chrome-btn.minimize {
    background-color: #ffbb33;
}

.chrome-btn.maximize {
    background-color: #4caf50;
}

.chrome-btn:hover {
    opacity: 0.8;
}

/* 本文部分 */
.chrome-body {
    padding: 30px;
}

/* タブコンテンツ */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* フッターのスタイル */
footer {
    width: 100%;
    text-align: center;
    padding: 1px;
    background-color: #f1f1f1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}